* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(102, 139, 219, 0.164);
}

main {
    border-radius: 10px;
    background-color: #fff;
    width: 730px;
    height: 300px;
    margin: auto;
    margin-top: 189px;
}

#capa {
    width: 285px;
    height: 300px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

h1 {
    font-size: 16pt;
    margin-left: 320px;
    margin-right: 20px;
    margin-top: -260px;
    text-align: justify;
}

p {
    margin-left: 320px;
    margin-right: 20px;
    margin-top: 30px;
    font-size: 10pt;
    color: rgb(83, 83, 83);
    text-align: justify;
}

#icon {
    width: 65px;
    height: 65px;
    border-radius: 100px;
    margin-left: 320px;
    margin-top: 18px;
}

#author {
    font-weight: bolder;
    margin-left: 400px;
    margin-top: -60px;
    font-size: 12pt;    
}

#date {
    margin-left: 400px;
    margin-top: 8px;
    font-size: 10pt;    
}

#share {
    margin-left: 680px;
    margin-top: -190px;
    width: 22px;
}

footer {
    font-size: 8pt;
    margin-left: 320px;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: rgb(7, 73, 46);
}